@font-face{
    font-family: Dafoe;
    src: url(mrdafoe.ttf) format("truetype")
}

* { 
    margin:0;
    border:0;
    font-size:100%;
    outline: 0;
    padding:0;
    color:black;
    font-family: Dafoe;
    
}


:root{
    --lightbrown: #d2b690;
    --darkbrown: #2e2828;
    --gray: #b9b9af;
    --white:#e5e5e5;
}
html{
    background-color: var(--white);
}

#mainContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    width:100vw;
    
}

#mainContainer h1{
    font-family: Dafoe;
    font-size: 550%;
    font-weight: bold;
    text-shadow: 4px 4px var(--lightbrown);
    color:var(--darkbrown)
    
}

#scoreboard{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player1, .player2{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    width: 100%;
    color:var(--darkbrown);
    text-shadow: 4px 4px var(--lightbrown);
    justify-content: center;
}

.icon{
    font-size:1000%;
    text-shadow: 10px 10px var(--lightbrown);
    color:var(--darkbrown);
}

.center{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem;
}

#scoreboard h2{
    font-size: 300%;
}

#scoreboard h3{
    font-size: 200%;
}

#restart,#overlayButton{
    background-color: var(--darkbrown);
    color:var(--lightbrown);
    font-size: 200%;
    border: 1px solid black;
    margin: 1rem auto;
    padding: 0rem 1.5rem;
    border-radius: 10px;
}

#restart,#overlayButton:hover{
    background-color: var(--lightbrown);
    box-shadow: 0px 0px 8px 2px var(--darkbrown) ;
    color: var(--white);
}

#restart,#overlayButton:active{
    background-color: var(--darkbrown);
}

#overlayButton{
    font-size:200%;
    padding:1rem 1rem;
}

#grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 555px;
    margin: 0 auto;
    grid-gap: 10px;
    background-color: black;
}

.cell{
    display: flex;
    background-color: var(--darkbrown);
    height:185px;
    justify-content: center;
    align-items: center;
    
}
.cell:hover{
    background-color: var(--lightbrown);
    color:var(--darkbrown)
}


.cellItem{
    font-size: 1000%;
    user-select: none;
    color:var(--lightbrown)
}

.cellItem:hover{
    color:var(--darkbrown)
}

@media screen and (max-width: 1000px) ,(max-height:800px) {
    #grid {
        width: 450px;
    }
    .cell{
        height:150px;
    }
    .icon{
        font-size: 150%;
        text-shadow: 2px 2px var(--lightbrown);
    }
    #mainContainer h1{
        font-size:400%;
    }

    #scoreboard h2{
        font-size: 150%;
    }
    
    #scoreboard h3{
        font-size: 100%;
    }
    .cellItem{
        font-size: 800%;
    }
}

@media screen and (max-width: 700px),(max-height:700px) {
    #scoreboard{
        flex-direction: column;
    }

    #restart{
        font-size:150%;
    }

    #scoreboard{
        height:100vh;
    }

    #scoreboard h2{
        font-size: 250%;
    }
    
    #scoreboard h3{
        font-size: 200%;
    }

    .player1,.player2{
        height:100%;
        order:2;
        padding-top:0;
    }
}

.active{
    animation-name: color;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes color {
    100% {
        background-color:var(--lightbrown);
    }
}

#overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
}

#congrats{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    background-color: var(--gray);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    padding:2rem;
    border-radius: 10px;
    border:3px solid var(--darkbrown);
}

#text{
    font-size:50%;
}